---
import DateTime from '@components/DateTime.astro'
import type { CollectionEntry } from 'astro:content'
export interface Props {
  href: string
  frontmatter: CollectionEntry<'blog'>['data']
  class?: string
}

const {
  href,
  frontmatter: { title, pubDate, description },
  class: className,
} = Astro.props
---

<article class={className}>
  <section>
    <h2 class="mb-1 inline text-2xl">
      <a class="unset" href={href}>{title}</a>
    </h2>
    <DateTime class="inline ml-2 text-bg-selection" datetime={pubDate} />
  </section>
  <hr class="border-border-line" />
  <p class="mt-2 font-prose">{description}</p>
</article>